<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Vue.js</title>
		<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
		<script src="/vue.global.js"></script>
		<link rel="stylesheet" href="work.css" />
	</head>
	<body>
		<div id="app">
			<!-- ページヘッダー -->
			<header>
				<h1 style="margin: 0px;">
					{{roomName || roomError}}
				</h1>
				<a href="work-manage-account.html">アカウント</a> |
				<a href="work-room-select.html">部屋選択</a><span v-if="roomGot"> |
				<a href="#" @click.prevent="renameRoom">部屋の名前を変更</a></span>
				<small class="muted display-block">部屋ID: {{roomId}}</small>
			</header>
			<noscript class="loading-msg">このページを機能させるにはJavaScriptが必要です</noscript>

			<div v-if="roomId === ''">
				<a href="work-room-select.html">部屋を選択してください</a>
			</div>
			<div v-if="roomId !== '' && roomGot" class="pos-rel">
				<div class="settings">
					<label class="display-block">声: <select v-model="voiceSelected" class="drpdwn" @change="updateLastVoice">
						<option v-for="option in voiceOptions" :value="option.value">
							{{ option.text }}
						</option>
					</select></label>
					<label class="display-block">Gemini APIキー: <input type="password" class="textbox" v-model="geminiApiKey" /></label>
				</div>

				<!-- メッセージ入力欄 -->
				<!-- 検索ボックスを流用している関係上classがsearch-boxとなっている -->
				<div class="message-input-wrapper pos-fix bottom-0">
					<form class="search-box same-width-as-main" @submit.prevent="sendChat">
						<input type="text" class="textbox" v-model="chatInput" v-bind:readonly="searchOngoing" />
						<input type="submit" class="btn" value="送信" />
						<input type="button" v-bind:class="'btn micbtn' + (voiceOngoing ? ' ongoing' : '') + (speechRecognitionAvailable ? '' : ' grayscale')" v-bind:value="voiceOngoing ? '停止' : '音声'" @click="voiceInput"  />
						<label style="display: flex; align-items: center;"><input type="checkbox" class="textbox" v-model="voiceAutoSend" style="margin-right: 4px;" /> 音声自動送信</label>
					</form>
				</div>

				<p>{{voiceErrorMessage}}</p>

				<hr class="hr-b" />

				<!-- メッセージ履歴 -->
				<div class="chat-base padding-bottom-search-box">
					<p v-for="val in chat.contents" class="chat-wrapper" :class="'chat-wrapper-' + val.role">
						<span>
							{{chatBody(val)}}
						</span>
					</p>
				</div>
				<p>{{loadingMessage}}</p>
			</div>
		</div>
		<script src="work.js"></script>
	</body>
</html>
